<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <title>Epic Button Game</title>
</head>
<body>
    <h1 id="title"></h1>
    <div id="container">
        <h2>Push the button to update the count!</h2>
        <div class="counter"></div>
        <button id="push">EPIC BUTTON</button>
    </div>
    <button id="reset">Reset Count</button>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>
</html>